<ion-header>
  <ion-navbar color = "primary">
    <ion-title>
      Contact
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addContact()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header><h2>Key Contacts</h2></ion-list-header>

    <ion-item *ngFor="let contact of keyContacts | async"
    (click) = "callNumber(contact.phone)">
      <ion-icon name="book" danger item-left></ion-icon>
      <h2>{{contact.name}}</h2>
      <h3>Address: {{contact.email}} </h3>
      <p>Phone: {{contact.phone}}</p>
    </ion-item>

    <ion-list-header><h2>My Contacts</h2></ion-list-header>
    <ion-item *ngFor="let contact of contactList | async"
    (click) = "callNumber(contact.phone)">
      <ion-icon name="book" danger item-left></ion-icon>
      <h2>{{contact.name}}</h2>
      <h3>Address: {{contact.address}}, {{contact.city}}</h3>
      <p>Phone: {{contact.phone}}</p>
    </ion-item>
  </ion-list>
</ion-content>
