page-home {

  ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.card-info {
  background: #f9fbe7;
}

.card-risk {
  background: #ffebee;
}

.card-lingo {
  background: #e8f5e9;
}

  .card-background-page {

    background-color: #F4F4F7;

    ion-card-header {
      font-weight: bold;
    }


    ion-card {
      position: center;
      text-align: center;

    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

  }


}
